{
  "swagger" : "2.0",
  "info" : {
    "description" : "This is a simple API for modifying the results displayed on the website of CompleteStreetComplete",
    "version" : "0.1.0",
    "title" : "CompleteStreetComplete API",
    "contact" : {
      "email" : "info.ent8r@gmail.com"
    },
    "license" : {
      "name" : "GPL-3.0",
      "url" : "https://www.gnu.org/licenses/gpl-3.0.html"
    }
  },
  "host" : "ent8r.lima-city.de",
  "basePath" : "/CompleteStreetComplete/api",
  "tags" : [ {
    "name" : "Admins",
    "description" : "Secured Admin-only calls"
  }, {
    "name" : "Developers",
    "description" : "Operations available to all developers"
  } ],
  "paths" : {
    "/get" : {
      "get" : {
        "tags" : [ "Developers" ],
        "summary" : "Get all datasets",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "JSON object containing the data"
          }
        }
      }
    },
    "/get/{id}" : {
      "get" : {
        "tags" : [ "Developers" ],
        "summary" : "Get the data by a specific id",
        "description" : "By passing in a correct id, you can search for\navailable results\n",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The id for the dataset",
          "required" : true,
          "type" : "integer"
        } ],
        "responses" : {
          "200" : {
            "description" : "JSON object containing the data"
          },
          "404" : {
            "description" : "Could not find data with specified id!"
          }
        }
      }
    },
    "/answer/{id}" : {
      "post" : {
        "tags" : [ "Admins" ],
        "summary" : "Updates a specific dataset with the given answer",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The id for the dataset",
          "required" : true,
          "type" : "integer"
        }, {
          "in" : "body",
          "name" : "json",
          "description" : "The JSON object which contains all necessary values",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/json"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Created"
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        } ]
      }
    },
    "/delete/{id}" : {
      "delete" : {
        "tags" : [ "Admins" ],
        "summary" : "Delete a dataset by a specific id",
        "description" : "By passing in a correct id, you can delete a dataset if it exists\n",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The id for the dataset",
          "required" : true,
          "type" : "integer"
        } ],
        "responses" : {
          "200" : {
            "description" : "JSON object containing the data"
          },
          "404" : {
            "description" : "Could not find data with specified id!"
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        } ]
      }
    },
    "/revert/{id}" : {
      "post" : {
        "tags" : [ "Admins" ],
        "summary" : "Reverts an answer by decreasing the amount",
        "description" : "By passing in a correct id and request body, you can revert an answer if it exists\n",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The id for the dataset",
          "required" : true,
          "type" : "integer"
        }, {
          "in" : "body",
          "name" : "json",
          "description" : "The JSON object which contains all necessary values",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/json"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation successful"
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        } ]
      }
    },
    "/create/{id}" : {
      "post" : {
        "tags" : [ "Admins" ],
        "summary" : "Creates a new dataset with the given values",
        "description" : "By passing in a correct id and request body, you can create a new dataset for a new question\n",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The id for the dataset",
          "required" : true,
          "type" : "integer"
        }, {
          "in" : "body",
          "name" : "json",
          "description" : "The JSON object which contains all necessary values",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/json"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation successful"
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        } ]
      }
    },
    "/update/{id}" : {
      "post" : {
        "tags" : [ "Admins" ],
        "summary" : "Updates a dataset with the given values",
        "description" : "By passing in a correct id and request body, you can update an existing dataset\n",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The id for the dataset",
          "required" : true,
          "type" : "integer"
        }, {
          "in" : "body",
          "name" : "json",
          "description" : "The JSON object which contains all necessary values",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/json"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation successful"
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        } ]
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "json" : {
      "type" : "object",
      "required" : [ "values" ],
      "properties" : {
        "values" : {
          "$ref" : "#/definitions/postid_values"
        }
      }
    },
    "postid_values" : {
      "properties" : {
        "de" : {
          "type" : "string"
        }
      }
    }
  }
}
